@font-face {
  font-family: 'Evolve Sans';
  src: url('../public/fonts/evolve-bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Evolve Sans';
  src: url('../public/fonts/evolve-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brittany';
  src: url('../public/fonts/brittany.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
